beautifulsoup4==4.8.0  # for page parsing
certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.1.1  # for web frontend
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
python-dateutil==2.8.0
pytz==2019.2  # for timezone handling
requests==2.22.0  # for http requests
six==1.12.0
soupsieve==1.9.3
urllib3==1.26.5
vobject==0.9.6.1  # for ics generating
Werkzeug==0.15.5
