<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lesson2Cal</title>
  <script src="https://cdn.bootcss.com/babel-polyfill/6.26.0/polyfill.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
  <link href="https://cdn.bootcss.com/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script>
</head>
<body>
  <div id="app">
    <el-row type="flex" justify="center">
      <el-col :span="10">
        <el-card>
          <div slot="header">配置以下信息</div>
          <el-form ref="mainform" method="POST" action="/post" label-position="top">
            <el-form-item label="jAccount">
              <el-input name="user" required></el-input>
            </el-form-item>
            <el-form-item label="密码">
              <el-input type="password" name="passwd" required></el-input>
            </el-form-item>
            <el-form-item>
              <div slot="label" style="width:150px;">
                <span>验证码</span>
                <img style="float:right;" title="点击更换" src="/captcha"
                  onclick="this.src='/captcha?'+Date.now()+Math.random()">
              </div>
              <el-input name="captcha" required></el-input>
            </el-form-item>
            <el-form-item label="学期首周周一日期">
              <!-- 必须v-model，且不支持required -->
              <el-date-picker style="width:100%;" v-model="firstday" name="firstday"
                :picker-options="pickerOptions" format="yyyy/MM/dd"></el-date-picker>
            </el-form-item>
            <el-button @click="submit">提交</el-button>
          </el-form>
        </el-card>
      </el-col>
    </el-row>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        firstday: '',
        pickerOptions: {
          disabledDate (date) {
            return date.getDay() != 1
          }
        }
      },
      methods: {
        submit () {
          let form = this.$refs.mainform.$el
          if (form.checkValidity() && this.firstday.length) {
            form.submit()
          } else {
            this.$message({
              message: '请填写完所有字段',
              type: 'warning'
            })
          }
        }
      },
      mounted () {
        // jinja2 arena
        let error = '{{ error }}'.trim()
        if (error.length) {
          this.$message({
            message: error,
            type: 'error'
          })
        }
      }
    })
  </script>
</body>
</html>
