<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width"/>

    <title>课程表</title>
    <link href="https://cdn.bootcss.com/quasar-framework/0.17.19/quasar.ios.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet"/>

  </head>
  <body>
    <div id="q-app">
      <div v-if="!login.opened">
        <div style="height: 5vh"></div>
        <div class="row justify-center">
          <div class="col-auto">
            <q-table
              :title="TableTitle"
              :data="lessonList"
              :columns="columns"
              :pagination.sync="paginationControl"
              row-key="name"
            >
            <div slot="bottom" slot-scope="props" class="row flex-center fit">

            </div>
          </q-table>
          </div>
        </div>
        <div class="row justify-center items-center">
            <div>
              <table>
                <div class="q-subheading">示例</div>
                <tr v-for="(value, key) in DisplayTable" :key="key" style="line-height:2em">
                  <td style="text-align: right">{{ key }}</td> <td>&nbsp;</td> <td style="text-align: left">{{ value }}</td>
                </tr>
              </table>
            </div>
            <div class="q-ma-xl">
              <q-option-group
                type="toggle"
                v-model="calStyle"
                @input="calStyleChange"
                :options="[
                  {value: 'name@loc', label: '在事件名称中显示地点 Name@Location '},
                  {value: 'campus', label: '上课地点中标明校区 [Campus]Room '},
                  {value: 'remark', label: '添加选课备注'},
                  {value: 'teacher', label: '选课备注中写入教师姓名 Teacher | Remark ', disable: !calStyle.includes('remark') }
                ]" />
          </div>
          <div>
            <q-datetime-picker
              v-model="firstday"
              :min = DateRange.min
              :max = DateRange.max
              :firstdayofweek = "1"
              type="date"
            />
          </div>
          <div class="q-ma-xl">
            <q-btn round color="primary" size="xl" icon="done" @click="StyleSubmit"/>
          </div>
        </div>
      </div>
      <!-- login -->
      <q-modal
        v-model="login.opened"
        :content-css="{minWidth: '50vw'}"
        no-backdrop-dismiss="true"
        :no-esc-dismiss="true"
      >
        <div style="padding: 50px; min-width:280px">
          <div class="q-display-1 q-mb-md">登录Jaccount</div>
          <div>
            <q-field class="q-mt-sm" icon="person">
              <q-input
                float-label="Jaccount用户名"
                v-model="login.form.user"
              />
            </q-field>
            <q-field class="q-mt-sm" icon="lock">
              <q-input
                type="password"
                float-label="Jaccount密码"
                v-model="login.form.passwd"
              />
            </q-field>
            <q-field class="q-mt-sm" icon="verified_user">
              <img
                class="float-right q-ml-md"
                style="cursor: pointer"
                title="点击更换"
                :src="login.captchasrc"
                @click="CaptchaRefresh"
              >
              <q-input
                float-label="验证码"
                v-model="login.form.captcha"
                @keyup.enter="LoginSubmit"
              />
            </q-field>
          </div>
          <div class="row justify-center q-mt-xl">
            <q-btn label="登录" @click="LoginSubmit" size="form" color="primary" style="width:40%"></q-btn>
          </div>
        </div>
      </q-modal>
    </div>

    <script src="https://cdn.bootcss.com/babel-polyfill/6.26.0/polyfill.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.4/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/quasar-framework/0.17.19/quasar.ios.umd.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <script src="static/index.js"></script>
  </body>
</html>
